*{  Padding: 0;
    Margin: 0;
    Box-sizing: border-box}
    
body{
    padding: 100px;}
/* utility */
.sconto{
    background-color: red;
    color: white;
    padding: 5px;}

.tag-sconto{
    background-color: green;
    color: white;
    padding: 5px;}

.red{
    color: red;}

.line-deco{
    text-decoration: line-through;
    color: black;}

/* fine utility */

.img-cont{
    /* display: inline-block; */
    position: relative;
    width: 300px;
    height: 400px;
    background-image: url(./img/1.webp);
    background-repeat: no-repeat;
    background-size: contain;}

.img-cont:hover{
    background-image: url(./img/1b.webp);
    background-repeat: no-repeat;
    background-size: contain;}


.didascalia{
    position: absolute;
    bottom: 50px;
    /* right: 100px; */
}