.sconto{
    background-color: red;
    color: white;
    padding: 5px;
}

.tag-sconto{
    background-color: green;
    color: white;
    padding: 5px;
}

.red{
    color: red;
}

.line-deco{
    text-decoration: line-through;
    color: black;
}

.img-cont{
    position: relative;
}

.didascalia{
    
}